<!DOCTYPE html>
<html>

<head>
    <title>Skynet Computers SPA on Vue.js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content='true' name='HandheldFriendly'>
    <meta content='width' name='MobileOptimized'>


    <meta name="theme-color" content="#41b883">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#41b883">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#41b883">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Яндекс.Браузер -->
    <!-- Из-за этого тэга неправильно отображается в Chrome Mobile -->
    <!-- <meta name="viewport" content="ya-title=#41b883,ya-dock=fade">       -->

    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="../dev/css/style.css">

</head>



<body>




    <div id="app">


        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="mv_3 tb_7">

                            <div class="menu-top-outer js-mobile_menu-outer">
                                <div class="menu-top-trigger js-mobile_menu__title"><span>
                                    <i class="users__item-icon themify themify-menu"></i>
                                </span></div>
                                <ul class="menu-top js-mobile_menu js-dropdown_list" data-animation-temp="">
                                    <li><a href="#">О компании</a></li>
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Оплата</a></li>
                                    <li><a href="#">Гарантия</a>
                                        <ul class="submenu-top">
                                            <li><a href="#">О компании</a></li>
                                            <li><a href="#">Доставка</a></li>
                                            <li><a href="#">Оплата</a></li>
                                            <li><a href="#">Гарантия</a></li>
                                            <li><a href="#">Магазины</a></li>
                                            <li><a href="#">Новости</a></li>
                                        </ul>                            
                                    </li>
                                    <li><a href="#">Магазины</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mv_9 tb_5">
                            <div class="users">
                                <div class="users__item users__item--account">
                                    <i class="users__item-icon themify themify-user"></i> <span class="tb_hidden">Личный кабинет</span>   
                                    <div class="users__form-outer">
                                         <form class="users__form form--users">                                
                                            <div class="field-outer">
                                                <input type="text" class="field-text" placeholder="E-mail">
                                            </div>
                                            <div class="field-outer">
                                                <input type="text" class="field-text" placeholder="Пароль">
                                            </div>                                    
                                            <div class="field-outer">
                                                <a href="#" class="button button-send"><span>Войти</span></a>
                                            </div>                                        
                                         </form>
                                    </div>                    
                                </div>
                                <a href="#" class="users__item users__item--wish">
                                    <i class="users__item-icon themify  themify-heart"></i><span class="tb_hidden">Избранное</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>      
            </div>

            <div class="header-bottom">
                <div class="search-modal">
                    <div class="container"> 
                        <div class="search-modal-close"><i class="themify  themify-close"></i></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row-flex middle">
                        <div class="mv_6 mv_offset_3 mh_4 mh_offset_0  tb_3 ds_3">
                            <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
                        </div>
                        <div class="mv_5 mh_3 tb_5 tb_offset_1 ds_4 ds_offset_0">
                            <div class="search-trigger"><i class="themify  themify-search"></i></div>
                            <div class="search">
                                <input class="search__field field-text" type="text" placeholder="Search items..">
                                <a class="search__button button button-search"><i class="themify  themify-search"></i></a>                    
                            </div>                    
                        </div>
                        <div class="mv_6 mh_4 tb_3 tb_offset_0 ds_4 ds_offset_1">
                            <div class="row-flex middle tools">
                                <div class="mv_6 ds_6">    
                                    <div class="tools__item contacts">
                                        <i class="users__item-icon themify themify-headphone-alt"></i>
                                        <div class="contacts__phone ds_hidden">
                                            <a href="tel:84955555555">8(495) 555-55-55</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mv_6 ds_6">
                                    <div class="tools__item cart">
                                        <i class="users__item-icon themify  themify-shopping-cart"></i>
                                        <span class="cart__title ds_hidden">Корзина</span>
                                        <span class="cart__counter">0</span>                            
                                    </div>                        
                                </div>                        
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </header>


        <div class="menu-main-outer section">
            <div class="container js-mobile_menu-outer">
                <div class="menu-main-trigger js-mobile_menu__title"></div>
                <ul class="menu-main megamenu js-mobile_menu js-dropdown_list" data-js="menu-responsive" data-animation-temp="400">
                    <li class="menu-main__item">
                        <a href="#" class="menu-main__link">Notebooks</a>
                        <ul class="submenu">
                            <li data-image-url="uploads/products-grid/0185414_3.JPG" title="Изображение категории Office">
                                <!-- <span class="submenu__item-image"><img src="../dev/uploads/products-grid/0185414_3.JPG"></span> -->                        
                                <a href="">Office</a>
                                <ul class="sub-submenu">
                                    <li><a href="#">Apple</a></li>
                                    <li><a href="#">Digma</a></li>
                                    <li><a href="#">HP</a></li>
                                    <li><a href="#">Huawei</a></li>
                                    <li><a href="#">IRBIS</a></li>
                                    <li><a href="#">LG</a></li>
                                    <li><a href="#">Prestigio</a></li>
                                </ul>
                            </li>
                            <li data-image-url="uploads/categories/comp.png">                        
                                <a href="">Home</a>
                                <ul class="sub-submenu">
                                    <li><a href="#">Apple</a></li>
                                    <li><a href="#">Digma</a></li>
                                    <li><a href="#">HP</a></li>
                                    <li><a href="#">Huawei</a></li>
                                    <li><a href="#">IRBIS</a></li>
                                    <li><a href="#">LG</a></li>
                                    <li><a href="#">Prestigio</a></li>
                                </ul>
                            </li>
                            <li data-image-url="uploads/categories/phone.png">
                                <a href="">Pro</a>
                                <ul class="sub-submenu">
                                    <li><a href="#">Apple</a></li>
                                    <li><a href="#">Digma</a></li>
                                    <li><a href="#">HP</a></li>
                                    <li><a href="#">Huawei</a></li>
                                    <li><a href="#">IRBIS</a></li>
                                </ul>                        
                            </li>
                        </ul>
                    </li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">PC</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">Tablets & Phones</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">Peripherals</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">Motherboards</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">Video</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">HDD</a></li>
                    <li class="menu-main__item"><a href="#" class="menu-main__link">Cables</a></li>
                </ul>
                
            </div>
        </div>


        <section class="section">
            <div class="container">


                <div class="topline">
                    <div class="breadcrumbs-outer">

                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
                            <li class="breadcrumbs__item"><a href="category.html">компьютеры</a></li>
                            <li class="breadcrumbs__item"><span>{{ product.title }}</span></li>
                        </ul>

                    </div>
                    <h1 class="h1 page-title">{{ product.title }}</h1>
                </div>


                <main class="main main--sidebar--right">

                    <div class="row productfull">

                        <div class="productfull-left" style="display: none;">
                            <div class="productfull-left-inner">
                                <div class="productfull__image owl-carousel">
                                    <img src="../dev/uploads/productfull/product_full_image_dell_08_image_1.jpg" alt="Моноблок Apple iMac" data-hash="slide-1">
                                    <img src="../dev/uploads/productfull/product_full_image_dell_08_image_2.jpg" alt="Моноблок Apple iMac" data-hash="slide-2">
                                    <img src="../dev/uploads/productfull/product_full_image_dell_08_image_3.jpg" alt="Моноблок Apple iMac" data-hash="slide-3">
                                    <img src="../dev/uploads/productfull/product_full_image_dell_08_image_4.jpg" alt="Моноблок Apple iMac" data-hash="slide-4">
                                </div>

                                <div class="productfull-gallery gallery">
                                    <div class="productfull-gallery-inner owl-carousel">
                                        <a class="productfull-gallery__item url" href="#slide-1">
                                            <img src="../dev/uploads/productfull/dell_08_image_gallery_1.jpg" alt="">
                                        </a>
                                        <a class="productfull-gallery__item url" href="#slide-2">
                                            <img src="../dev/uploads/productfull/dell_08_image_gallery_2.jpg" alt="">
                                        </a>
                                        <a class="productfull-gallery__item url" href="#slide-3">
                                            <img src="../dev/uploads/productfull/dell_08_image_gallery_3.jpg" alt="">
                                        </a>
                                        <a class="productfull-gallery__item url" href="#slide-4">
                                            <img src="../dev/uploads/productfull/dell_08_image_gallery_4.jpg" alt="">
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>                    
                        </div>

                        <div class="productfull-left">
                            <div class="productfull-left-inner">
                                Изображение
                                <div class="productfull__image">
                                    <!-- <img src="../dev/uploads/productfull/product_full_image_dell_08_image_1.jpg" alt=""> -->
                                    <img src="" alt=""
                                        v-bind:src="product.variants[activeVariant].variantImage" 
                                        v-bind:alt="product.title" 
                                        v-bind:title="'Это ' +  product.title" 
                                        >
                                </div>
                            </div>
                        </div>                      

                        <div class="productfull-right">

                            <div class="productfull__brand-outer">
                                <div class="productfull__brand">
                                    <a href="#" v-bind:href="'/brands/' + product.brand" v-bind:title="product.brand">
                                        <img src="" alt="Apple" v-bind:src="product.brandImage" v-bind:alt="product.brand">
                                    </a>                                    
                                </div>
                            </div>

                            <div class="productfull-header">

                                <div class="productfull-header-left">
                                    <div class="productfull__reviews-counter" v-if="product.reviews.length > 0">
                                        <span class="productfull__reviews-counter-text">Отзывов:</span>
                                        <span class="productfull__reviews-counter-value"> {{ product.reviews.length }}</span>
                                    </div>

                                    <div class="productfull__rating-outer">
                                        <div class="productfull__rating">
                                            <div class="rating" data-value="" v-bind:data-value="product.rating">
                                               <ul v-html="renderRating">

                                                   <!-- <li class="on" v-for=""><span></span></li> -->

                                                   <!-- <li class="on"><span></span></li>
                                                   <li class="on"><span></span></li>
                                                   <li class="on"><span></span></li>
                                                   <li class="on"><span></span></li>
                                                   <li class="off"><span></span></li> -->
                                               </ul>
                                           </div>      
                                        </div>
                                    </div>
                                </div>

                                <div class="productfull-header-right">
                                    <div class="product__availability product__availability">наличие:
                                        <span class="product__availability-value product__availability-value--in-stock" v-if="product.availability">в магазине</span>
                                        <span class="product__availability-value product__availability-value--none" v-else>нет</span>
                                    </div>
                                </div>

                            </div>

                            <div class="productfull__description">
                                <div class="productfull__description-title g-subtitle h4">Описание:</div>
                                <!-- <div class="productfull__description-text" v-if="product.description">{{ product.description }}</div> -->

                                <!-- <div class="productfull__description-text" __v-if="product.description">{{ product.description || 'Описание товара отсутствует.' }}</div> -->

                                <!-- <div class="productfull__description-text" v-if="product.description">{{ product.description }}</div> -->
                                <!-- <div class="productfull__description-text" v-else="product.description">{{ textTemplates.descriptionHasNo }}</div> -->

                                <div class="productfull__description-text" v-html="product.description || textTemplates.descriptionHasNo "></div>

                            </div>  
                            
                            
                            <div class="productfull__specifications">
                                <div class="productfull__specifications g-subtitle h4">Характеристики:</div>

                                <ul class="productfull__specifications-list">
                                

                                    <li class="productfull__specifications-list-item" v-for="(item, key) in product.specificationsShort">
                                        <div class="productfull__specifications-list-item-name">
                                            <span>{{ item.title }}</span>
                                        </div>
                                        <div class="productfull__specifications-list-item-value">
                                            {{ item.value }}<span v-if="key == 'responseTime'">мс</span>
                                        </div>
                                    </li>


                                    <!-- <li class="productfull__specifications-list-item">
                                        <div class="productfull__specifications-list-item-name">
                                            <span>Производитель</span>
                                        </div>
                                        <div class="productfull__specifications-list-item-value">
                                            Apple
                                        </div>
                                    </li> -->


                                </ul>
                            </div>


                        </div>


                    </div>     

                </main>


                <aside class="sidebar sidebar--productfull">
                    <div class="sidebar-inner">



                    </div>
                </aside>


                <div class="bottomline">



                </div>


            </div>
        </section>


        <footer class="footer section">
            <div class="footer-top">
                <div class="container">
                    <div class="row-flex">

                        <div class="mv_12 tb_6 ds_3 footer__column footer__contacts-outer">
                            <div class="footer__contacts contacts contacts-footer footer__item js-accordeon">
                                <div class="contacts__title footer__title js-accordeon__title">Контакты<i class="themify themify-plus"></i></div>

                                <div class="js-accordeon__content">
                                    <div class="contacts__item">
                                        <div class="contacts__item-title">Адрес:</div>
                                        <div class="contacts__item-text">Москва, Ореховый бульвар, д. 15</div>
                                    </div>
                                    <div class="contacts__item">
                                        <div class="contacts__item-title">Телефоны:</div>
                                        <div class="contacts__item-text">                                
                                            <a href="tel:84955555555">8(495) 555-55-55</a>
                                        </div>
                                        <div class="contacts__item-text">
                                            <a href="tel:84955555555">8(495) 555-55-55</a>
                                        </div>                            
                                    </div>
                                    <div class="contacts__item">
                                        <div class="contacts__item-title">E-mail:</div>
                                        <div class="contacts__item-text">
                                            <a href="mailto:info@skynet.com">info@skynet.com</a>        
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="mv_12 tb_6 ds_3 footer__column">
                            <div class="footer__menu menu-footer js-accordeon">
                                <div class="menu-footer__title footer__title js-accordeon__title">Магазин <i class="themify themify-plus"></i></div>
                                <ul class="menu-footer__list js-accordeon__content">
                                    <li class="menu-footer__item"><a href="#">О нас</a></li>
                                    <li class="menu-footer__item"><a href="#">Адреса магазинов</a></li>
                                    <li class="menu-footer__item"><a href="#">Доставка</a></li>
                                    <li class="menu-footer__item"><a href="#">Способы оплаты</a></li>
                                    <li class="menu-footer__item"><a href="#">Пункты выдачи</a></li>
                                    <li class="menu-footer__item"><a href="#">Бонусная программа</a></li>
                                </ul>
                                
                            </div>
                        </div>

                        <div class="mv_12 tb_6 ds_3 footer__column">
                            <div class="footer__menu menu-footer js-accordeon">
                                <div class="menu-footer__title footer__title js-accordeon__title">Категории <i class="themify themify-plus"></i></div>
                                <ul class="menu-footer__list js-accordeon__content">
                                    <li class="menu-footer__item"><a href="#">О нас</a></li>
                                    <li class="menu-footer__item"><a href="#">Адреса магазинов</a></li>
                                    <li class="menu-footer__item"><a href="#">Доставка</a></li>
                                    <li class="menu-footer__item"><a href="#">Способы оплаты</a></li>
                                    <li class="menu-footer__item"><a href="#">Пункты выдачи</a></li>
                                    <li class="menu-footer__item"><a href="#">Бонусная программа</a></li>
                                </ul>
                                
                            </div>
                        </div>



                        <div class="mv_12 tb_6 ds_3 footer__column footer__blog-outer">
                            <div class="footer__blog blog-footer js-accordeon">
                                <div class="blog-footer__title footer__title js-accordeon__title">Блог <i class="themify themify-plus"></i></div>


                                <div class="mv_12 collapse js-accordeon__content">
                                    <div class="blog-footer__item">
                                        <div class="blog-footer__item-image"><img src="../dev/uploads/blog/blog_item_1.jpg" alt=""></div>
                                        <div class="blog-footer__item-conent">
                                            <div class="blog-footer__item-title"><a href="#">QCYBER MOBILE: оторвись</a></div>
                                            <time class="blog-footer__item-date" datetime="2019-02-01">01.02.2019</time>
                                        </div>
                                    </div>
                                </div>

                                <div class="mv_12 collapse js-accordeon__content">
                                    <div class="blog-footer__item">
                                        <div class="blog-footer__item-image"><img src="../dev/uploads/blog/blog_item_2.jpg" alt=""></div>
                                        <div class="blog-footer__item-conent">
                                            <div class="blog-footer__item-title"><a href="#">QCYBER MOBILE: оторвись от проводов!</a></div>
                                            <time class="blog-footer__item-date" datetime="2019-02-01">01.02.2019</time>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>                  

                    </div>
                </div>



                        <!-- .mv_12.tb_6.ds_3> -->

               

            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyrights">© 1984—2019. Все права защищены. Skynet Computers Inc.</div>
                </div>
            </div>
        </footer>




        <div class="container" style="display: none;">


            <div _id="app">


            </div> 


        </div>


    </div>


    <!-- Vue.js -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"> </script>




    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

    <script src="../dev/js/scripts.min.js"> </script>

</body>

</html>