@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. Imports
 *  1. General Vars, Mixins, Extends

 *  14.
 *
 */

@import "services/services"; // services and helpers functions
@import "libs"; // external libs
@import "fonts"; // fonts add
@import "svgfontstyle"; //
@import "mwgrid"; // layout framework

@import "vars";
@import "mixins";
@import "base"; // base,

@import "plugins/plugins"; // external plugins custom styles
// @import 'components';   // moved to -> _base
@import "blocks&components"; // moved to -> _base
// @import 'print';     // print v styles
//
@import "components"; // moved to -> _base

// $accent: #41b883;
// $secondary: #35495e;
// $text: $secondary;

/* 1. General, structure
 * **********************************************************************
 *  
*/

// .main {
//     @include h_rhytm('column', $fb);
//     float: right;
//     width: 100%;
//     // @media (min-width: #{map-get($devices, 'ds_')}px) {
//     @media (min-width: bp('ds_')+0px ) {
//         width: calc(100% - #{$sidebar_width}px - #{$sidebar_offset});
//     }
//     @media (min-width: bp('hd_')+0px ) {
//         width: 67%;
//     }
// }

// .sidebar {
//     @include v_rhytm('section-block', $l_h_base);
//     @include h_rhytm('column', $fb);
//     float: left;
//     width: 100%;

//     @media (min-width: bp('ds_')+0px ) {
//         // На ds ширина фикс
//         // margin: 0;
//         width: $sidebar_width+px;
//     }
//     @media (min-width: bp('hd_')+0px ) {
//         // На hd ширина в процентах
//         // width: 25%;
//         width: calc(33% - 2*#{$columns_gap}px);
//     }
// }
// .sidebar__block {
//     margin-bottom: 1*$l_h_card;

//     &-title {

//         // width: 205px;
//         // height: 14px;
//         position: relative;
//         background-color: $white-two;
//         // @include type_block_title;

//         @include font_size_pro('h5');
//         @include typo('title');
//         @include height_leveling('text');
//         @include color_scheme('extralight');
//         text-align: center;

//         // arrow
//         &::before {
//             @include triangle("down", 16px, 8px, $white-two);
//             content: "";
//             @include pseudoelement_left_top(50%, 100%);
//             transform: translate(-50%, 0);
//         }

//     }

//     &-content {
//         padding-left: 1*$l_h_card;
//         padding-right: 1*$l_h_card;
//         padding: 1*$l_h_card;
//         background-color: $white;
//     }

// }

.main--sidebar--left {
  float: right;
}

.main--sidebar--right {
  float: left;
}

.main--sidebar--right + .sidebar {
  float: right;
}

/* 2. Header
 * **********************************************************************
 *  
*/

.header {
}
.header-top {
}
.logo {
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
} /* media end */

// header {
//     width: 100%;
//     padding: 1rem  0;
//     // background-color: #39c;
//     background-color: #fff;
//     background-color: $accent;
// }

.title,
.logo {
  // font-size: get_font_size();
  // background-color: #fff;
  // color: #000;
  // color: $accent;

  margin: 0.5em 0;

  @include font_size_pro("h4");
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $white;

  // @extend %border_circle;
}

.subtitle {
  margin: 0.5em 0;
  @include font_size_pro("h2");
  color: $white;
}

@import "styles_skynet_computers"; // don'y work, cause use old mw-grid api
/*

Замены медиа-запросов в старом файле стилей для синхронизации с новым API mw-grid

@media (min-width: #{map-get($devices, 'ds_')}px) {
на
@media (min-width: __($devices, 'ds_', 'breakpoint')+px) {


@media (max-width: __($devices, 'ds_', 'breakpoint')-1px) {
на
@media (max-width: __($devices, 'ds_', 'breakpoint')-1px) {
*/

// @import "lesson_2";

.mt-md {
  margin-top: 1 * $l_h;
}
.mb-md {
  margin-bottom: 1 * $l_h;
}

// .product-image {
//     img {
//         width: auto;
//         max-width: 75%;
//     }
// }

// .product__sizes {

//     @include flex(flex-start, center);
//     &-list {

//     }
//     li {
//         // width: 1/3*100%;
//         padding-right: 1em;
//     }
// }

.product__sizes {
  @include flex(flex-start, center);

  &-size-name {
    font-weight: bold;
    padding: 0.25em 0;
  }

  &-property-name {
    color: $grey_dark;
  }

  &-list {
    ul {
    }
    li {
      // width: 1/3*100%;
      padding-right: 1em;
      color: $grey_super_dark;
    }
  }
}

button.button {
  margin-top: 0;
}

.product__variant {
  &-label {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
  }
}

.cart__quantity {
  span,
  &-change {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;

    background-color: $grey_light;
    color: $text;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;

    padding-left: 0;
    padding-right: 0;

    &:disabled,
    &.disabled {
      background-color: $grey_super_light;
      color: $grey_light;
      cursor: not-allowed;
    }
  }
}

input {
  &:disabled,
  &.disabled {
    // background-color: $grey_super_light;
    color: $grey_light;
    cursor: not-allowed;
  }
}




/* skynet-computers-app Styles
 * **********************************************************************
 *  
*/

/* Reviews */
.reviews__form  {
  &-form {
    max-width: 640px;
    .textarea {
      max-width: 100%;
    }

  }
  .field-outer {
    .reviews__item-title {
      display: flex;
      align-items: center;
      // @include font_size_pro('base');
      font-size: $fb; 
      // margin-bottom: 0;
      margin-bottom: 0.5em;

      i {
        position: static;
        transform: none;
        padding-right: 0.5em;
      }
    }
  }
}

/* Preloader */
.preloader {
    z-index: 200;
    position: relative;
    position: absolute;
    width: 100%;
    //   height: 100%;
    height: 100vh;
    background-color: #fff;
  
    font-size: 24px;
    font-weight: 500;
    color: #41b883;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: all 0.3s;
  
    &.hidden {
      opacity: 0;
      z-index: -1;
      // display: none;
    }
  
    //
    span,
    span.preloader__text {
      animation-duration: 2s;
      animation-name: preloaderBlink;
      animation-iteration-count: infinite;
    }
  }
  
  @keyframes preloaderBlink {
    0% {
      opacity: 0.35;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.35;
    }
  }



/* Forms States  */
button.button {
    font-weight: 300;
    font-family: $font_family;
}

.field-validation {
    // display: none;
    font-size: $fb;
    // padding-top: 0.333334 * $l_h;
    // margin-top: -0.333334 * $l_h; 
    
    i {
        font-weight: bold;
        color: $error_color; 
    }
}
.field-outer {

    .field-validation {
        // display: none;
        font-size: $fb;
        // padding-top: 0.333334 * $l_h;
        // margin-top: -0.333334 * $l_h; 
        margin-bottom: 0;       
    }
    .field-validation + .field-validation {
        margin-bottom: 0.5em;
    }

    // States
    &.error {

        // p
        .field-validation {
            color: $error_color; 
            
        }

    }
}

input.field-text,
textarea.textarea {
    outline: none !important;
 

    &.error{
        border-color: $error_color !important;
        background-color: transparentize($error_color, 0.95) !important;
    }      
    
    &.valid {
        border-color: $success_color !important; // +
        background-color: transparentize($success_color, 0.95) !important; // +
        // border-color: transparentize($success_color, 0.5); // v

        // background: transparentize($success_color, 0.55) !important;
        // background: $success_color!important;
    }

    &:focus {
        outline: none !important;
    }
    &:focus,
    &.focus{
        border-color: $accent;
        // border-color: $info_color;
        background-color: $white !important;
    }   
    
    
    &.valid:-webkit-autofill,
    &.valid::-webkit-autofill,
    &.valid:-internal-autofill-selected ,
    &.valid::-internal-autofill-selected {
        border-color: $success_color;
        background-color: transparentize($success_color, 0.95) !important;
        // background: transparentize($success_color, 0.55) !important;
        // background: $success_color!important;

        //
        box-shadow: 0 0 0px 1000px #000 inset; // Здесь не работает, проблема в селекторе)
    }
}

/* Change autocomplete styles in WebKit */
// $success_superlight:  transparentize($success_color, 0.95);
input:-webkit-autofill,
textarea:-webkit-autofill {
    // background-color: #372; // ?
    //
    // box-shadow: 0 0 0px 1000px #000 inset; // +
    // box-shadow: 0 0 0px 1000px $success_color inset; // +
    // box-shadow: 0 0 0px 1000px $success_superlight inset; // -\
    //
    box-shadow: 
        0 0 0px 1000px rgba(129, 201, 124, 0.05)  inset, // +
        0 0 0px 1000px #fff  inset; // +

    // box-shadow: 0 0 0px 1000px transparentize($success_color, 0.95) inset; // -

    // 2. Цвет текста
    // color: #ff3300!important; // -
    -webkit-text-fill-color: #33ff00; // +
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
    background-color: $white !important;
    box-shadow: 
        0 0 0px 1000px #fff  inset; // +    
}


// Тоже работает, так же, только box-shadow
input:-internal-autofill-selected {
    // background-color: #327 !important; // -
    // background-color: rgb(0, 128, 64) !important; // -
    // box-shadow: 
    //     0 0 0px 1000px rgba(129, 201, 124, 0.55)  inset, // +
    //     0 0 0px 1000px #fff  inset; // +    
}

// textarea.textarea {
//     outline: none !important;
//     &:focus {
//         outline: none !important;
//     }
// }


.tooltip-button {
    position: relative;
}

.tooltip {
    z-index: $zindex_icon;
    position: absolute;
    left: 100%;
    top: 100%;
    width: 300px;

    padding: 2em 2em;
    background-color: $grey_super_light; // $white;
    background-color:  $white;
    border: 1px solid $grey_lighter;
    // box-shadow: shadow;
    @extend %shadow;

    font-size: $font_small;
    line-height: $l_h;

    color: $text;

    &__remove {
        position: absolute;
        right: 1em;
        top: 1em;
        color: $error_color;

        // State
        opacity: 0;
        // @extend .product__remove;
        
    }
    &:hover &__remove {
        opacity: 1;
    }


}